@import url("https://fonts.googleapis.com/css2?family=Langar&family=Rubik:wght@500&display=swap");
.home {
    background-image: url("../images/home.jpeg");
    height: 99vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(2, 3, 3, 0.39);
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 300;
}

ul.topnav li a:hover:not(.active) {
    background-color: #ffffff;
}

ul.topnav li a.active {
    background-color: #ecb9b9;
}

ul.topnav li.right {
    float: left;
}

ul.topnav li.left {
    float: right;
    font-size: 24px;
}

Table {
    background-color: grey;
    color: white;
    text-align: center;
    font-family: "Redressed", cursive;
}

.welcome {
    text-decoration-color: crimson;
    font-size: 44px;
}

.media {
    text-align: center;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}